/* Selectionner les titres H1 et les mettre en rouge */
*{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color: red;
}

/* Selectionner une classe */
.police{
    color: blue;
    font-size: large;
}

/* Selectionner par id */
#titre-vert{
    color: green;
}

p,section{
    font-size: 15px;
}

/* Sélecteur élément descendant */
section h3 {
    color: purple;
}

/* Sélecteur d'élement enfant */
div > span {
    background-color: aqua;
}

span{
background-color: yellow;    
}